<p>
    Ember Skeleton. I built this to use as a quickstart, ready-to-build, Ember / Ember-Data / Handlebars template. There's some basic data from my own photo stories.
</p>

<p>
    The Skeleton uses Brunch. I prefer it over Grunt, I find it faster, cleaner configuration, and straight to the point. YMMV.
</p>
