<div class="row-fluid">
    <div class="span2">
        {{ partial "storyMenu"}}
    </div>
    <!--/span-->
    <div class="span10">
        {{ outlet }}
    </div>
    <!--/span-->
</div>
<!--/row-->
